table {
  width: 100%;
  display: table;
  border-collapse: unset;
  overflow-x: unset;
}

table tr:nth-child(2n) {
  background-color: unset;
}

table th,
table td {
  border: unset;
  padding: unset;
}

table thead th{
  text-align: unset;
}

table tbody tr {
  white-space: unset;
}

table tbody tr:nth-child(2n) {
  background-color: unset;
}
