@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1[id] {
	@apply text-3xl font-black mt-6;
}

h2[id] {
	@apply text-2xl font-bold mt-6 mb-4;
}

h3[id] {
	@apply text-xl font-semibold mt-6;
}

.header-anchor {
	@apply text-green-500 font-normal;
}

table:not([class]) thead th{
  @apply bg-gray-100 px-2 py-2;
}

table:not([class]) thead th:first-child{
  @apply w-4/6;
}

table:not([class]) tbody td{
  @apply px-2 py-4;
}
